@import '@/style/variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: $quillGray;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
button{
    color: $montainMeadow;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    transition: all 0.2s;

    &:hover{
        color: white;
        background-color: $montainMeadow;
        cursor: pointer;
        transition: all 0.2s;
    }
}
