@import '@/style/variables.scss';
@import '@/style/mainStyle.scss';
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;

    .text{
        width: 35%;

        h4{
            color: $stormDust;
            font-weight: 400;
            margin-bottom: 15px;
            span{
                font-weight: bold;
            }
        }

        h2{
            font-size: 50px;

            span{
                font-weight: 200;
                color: $montainMeadow;
            }
        }

        p{
            line-height: 25px;
            color: $stormDust;
            margin-top: 15px;
        }

        button{
            color: white;
            background-color: $montainMeadow;
            margin-top: 15px;
            padding: 15px 60px;
        }
    }

    .img-box{
        width: 60%;
        position: relative;

        .bg-absolute-4{
            position: absolute;
            height: 140px;
            width: 240px;
            bottom: -100px;
            right: 260px;
            z-index: -1;
            background: url('../../public/images/maxcoach-shape-07.png') no-repeat;
        }

        .bg-absolute-5{
            position: absolute;
            height: 140px;
            width: 240px;
            bottom: -70px;
            left: -290px;
            z-index: -1;
            background: url('../../public/images/maxcoach-shape-01.png') no-repeat;
        }

        .bg-absolute-2{
            position: absolute;
            top: 30px;
            left: -55px;
            z-index: -1;
            filter: opacity(40%);
        }

        .bg-absolute-3{
            position: absolute;
            height: 230px;
            width: 230px;
            top: 120px;
            left: -165px;
            z-index: -1;
            background: url('../../public/images/maxcoach-shape-05.png') no-repeat;
            background-size: cover;
        }

        img{
            border-radius: 5px;
        }

        .bg-absolute-1{
            position: absolute;
            height: 40px;
            width: 40px;
            top: -30px;
            right: -50px;
            border: 5px solid $drifwood;
            border-radius: 50%;
        }
    }
}